<script setup lang="ts">
import { Currency, Symbols } from '../../constants/currencies.ts'
import type { FormInstance, FormRules } from 'element-plus'
import { useCurrentCurrency } from '../../composables/useCurrentCurrency.ts'
import { useInvestmentTools } from '../../composables/useInvestmentTools.ts'

interface RuleForm {
    name: string
    investment: number
    currency: Currency
}

const formLabelWidth = '140px'

const isOpen = defineModel<boolean>()

const { currency, basedCurrencies } = useCurrentCurrency()
const { setTool } = useInvestmentTools()

const ruleFormRef = ref<FormInstance>()

const ruleForm = reactive<RuleForm>({
    name: '',
    investment: 0,
    currency: currency.value
})

// @ts-ignore
const checkInvestment = (rule: any, value?: number, callback: any) => {
    if (!value) {
        return callback(new Error("It's not an investment, it's a kindergarten."))
    }

    callback()
}

const rules = reactive<FormRules<RuleForm>>({
    name: [
        { required: true, message: 'Please input investment tool name', trigger: 'blur' },
        { min: 3, max: 50, message: 'Length should be 3 to 5', trigger: 'blur' }
    ],
    investment: [
        {
            required: true,
            trigger: 'blur',
            validator: checkInvestment
        }
    ]
})

const confirm = async (formEl?: FormInstance) => {
    if (!formEl) return

    await formEl.validate((valid, fields) => {
        if (valid) {
            setTool(ruleForm)
            ruleForm.name = ''
            ruleForm.investment = 0
            ruleForm.currency = currency.value
            isOpen.value = false
        } else {
            console.log('error submit!', fields)
        }
    })
}
</script>

<template>
    <ElDialog
        v-model="isOpen"
        title="Investment tool"
        width="500"
    >
        <ElForm
            ref="ruleFormRef"
            :model="ruleForm"
            :rules="rules"
        >
            <ElFormItem
                label="Name"
                prop="name"
                :label-width="formLabelWidth"
            >
                <ElInput
                    v-model="ruleForm.name"
                    autocomplete="off"
                />
            </ElFormItem>

            <ElFormItem
                label="Investment"
                prop="investment"
                :label-width="formLabelWidth"
            >
                <ElInput
                    v-model="ruleForm.investment"
                    type="number"
                    autocomplete="off"
                />
            </ElFormItem>

            <ElFormItem
                label="Currency"
                prop="currency"
                :label-width="formLabelWidth"
            >
                <ElSelect
                    v-model="ruleForm.currency"
                    placeholder="Please select a currency"
                >
                    <template #prefix>
                        <img
                            :src="Symbols[ruleForm.currency]"
                            :alt="ruleForm.currency"
                        />
                    </template>
                    <ElOption
                        v-for="currency of basedCurrencies"
                        :key="currency"
                        :label="currency"
                        :value="currency"
                    />
                </ElSelect>
            </ElFormItem>
        </ElForm>
        <template #footer>
            <div class="dialog-footer">
                <ElButton @click="isOpen = false">Cancel</ElButton>
                <ElButton
                    type="primary"
                    @click="confirm(ruleFormRef)"
                >
                    Confirm
                </ElButton>
            </div>
        </template>
    </ElDialog>
</template>

<style scoped lang="scss"></style>
