<script setup lang="ts">
import { useBinanceWS } from '../../composables/useBinanceWS.ts'

const { cryptoSocketArray } = useBinanceWS()
</script>

<template>
    <div
        v-for="crypto of cryptoSocketArray"
        :key="crypto.id"
    >
        <ElTag
            size="large"
            :type="crypto.className"
            class="justify-content-between mt-16 w-100"
        >
            {{ crypto.name.toUpperCase() }} {{ crypto.price }}
        </ElTag>
    </div>
</template>

<style scoped lang="scss"></style>
