<script setup lang="ts">
import InvestmentCard from '../components/main-content/InvestmentCard.vue'
import { useInvestmentTools } from '../composables/useInvestmentTools.ts'

const { tools } = useInvestmentTools()
</script>

<template>
    <div class="dashboard d-flex flex-column p-25 gap-25">
        <div
            v-if="tools.length"
            class="dashboard__tools d-flex flex-wrap justify-content-evenly gap-25"
        >
            <InvestmentCard
                v-for="tool of tools"
                :key="tool.id"
                :tool
            />
        </div>

        <div v-else>
            <ElEmpty
                description="Empty"
                class="dashboard__empty"
            />
        </div>
    </div>
</template>

<style scoped lang="scss">
.dashboard {
    &__empty {
        :deep(.el-empty__image) {
            width: 250px;
        }
    }
}
</style>
