<script setup lang="ts">
import { Symbols } from '../constants/currencies.ts'
import { useCurrentCurrency } from '../composables/useCurrentCurrency.ts'
import { useInvestmentTools } from '../composables/useInvestmentTools.ts'

const { currency, basedCurrencies } = useCurrentCurrency()
const { tools } = useInvestmentTools()

const allInvestments = computed(() => {
    return tools.value.reduce((prev, curr) => prev + Number(curr.investment), 0)
})
</script>

<template>
    <div class="d-flex justify-content-between align-items-center h-100">
        <div class="d-flex align-items-center gap-5">
            <div class="currency-title fs-20 fw-600">Balance:</div>
            <div class="d-flex align-items-center gap-5 fs-20 fw-600">
                <span class="currency-price">{{ allInvestments }}</span>
                <span class="currency-name">{{ currency }}</span>
            </div>
        </div>

        <ElSelect
            v-model="currency"
            class="m-2"
            placeholder="Select"
            size="large"
            style="width: 115px"
        >
            <template #prefix>
                <img
                    :src="Symbols[currency]"
                    :alt="currency"
                />
            </template>
            <ElOption
                v-for="currency in basedCurrencies"
                :key="currency"
                :label="currency"
                :value="currency"
            />
        </ElSelect>
    </div>
</template>

<style scoped lang="scss">
.currency-title {
    color: var(--el-text-color-secondary);
}

.currency-price {
    color: var(--el-color-primary-dark-2);
}

.currency-name {
    color: var(--el-text-color-secondary);
}
</style>
