<script setup lang="ts">
import InvestmentToolDialog from '../components/side-bar/InvestmentToolDialog.vue'
import { Plus } from '@element-plus/icons-vue'
import MyCryptoCurrency from '../components/side-bar/MyCryptoCurrency.vue'

const isInvestmentToolDialogVisible = ref(false)
</script>

<template>
    <div class="d-flex flex-column h-100">
        <ElButton
            class="m-auto"
            size="large"
            :icon="Plus"
            circle
            @click="isInvestmentToolDialogVisible = true"
        />

        <MyCryptoCurrency />

        <InvestmentToolDialog v-model="isInvestmentToolDialogVisible" />
    </div>
</template>

<style scoped lang="scss"></style>
