<script setup lang="ts">
import { Symbols } from '../../constants/currencies.ts'
import { InvestmentTool } from '../../types/InvestmentTool.ts'

defineProps<{
    tool: InvestmentTool
}>()
</script>

<template>
    <ElCard class="box-card">
        <template #header>
            <div class="d-flex justify-content-center align-items-center">
                <span>{{ tool.name }}</span>
            </div>
        </template>

        <div class="fs-16 mb-15">History of investment:</div>
        <div
            v-for="o in 4"
            :key="o"
            class="fs-12 mb-10"
        >
            {{ tool.investment }} {{ tool.currency }}
        </div>

        <template #footer>
            <div class="d-flex justify-content-end align-items-center gap-5">
                <span>{{ tool.investment }}</span>
                <img
                    :src="Symbols[tool.currency]"
                    :alt="tool.currency"
                />
            </div>
        </template>
    </ElCard>
</template>

<style scoped lang="scss">
.box-card {
    width: 250px;
}
</style>
