<script setup lang="ts">
import { refDebounced, useWindowSize } from '@vueuse/core'
import SideBarContent from './views/SideBarContent.vue'
import NavBarContent from './views/NavBarContent.vue'
import MainContent from './views/MainContent.vue'

const { height } = useWindowSize()
const windowHeight = refDebounced(height, 512)

const contentHeight = computed(() => {
    if (!Number.isInteger(windowHeight.value)) {
        return '100vh'
    }

    return `${windowHeight.value}px`
})
</script>

<template>
    <div class="common-layout">
        <ElContainer class="h-100">
            <ElAside
                width="200px"
                class="sidebar p-16 h-100"
            >
                <SideBarContent />
            </ElAside>
            <ElContainer class="h-100">
                <ElHeader class="navbar p-16">
                    <NavBarContent />
                </ElHeader>
                <ElMain class="main">
                    <ElScrollbar>
                        <MainContent />
                    </ElScrollbar>
                </ElMain>
            </ElContainer>
        </ElContainer>
    </div>
</template>

<style lang="scss">
@import 'style';

.common-layout {
    // https://chanind.github.io/javascript/2019/09/28/avoid-100vh-on-mobile-web.html
    height: v-bind(contentHeight);

    .sidebar {
        border-right: 1px solid var(--el-color-primary-light-7);
    }

    .navbar {
        border-bottom: 1px solid var(--el-color-primary-light-7);
    }

    .main {
        padding: 0;
    }
}
</style>
